*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mukta Malar', sans-serif;
}

/*Encabezado de la página Conf Bs As*/

.logo_imagen{
    width: 22%;
}

h3{
    font-weight: lighter;
}

.encabezadoFlex{
    display: flex;
    justify-content: center;
    background: rgb(53, 58, 64);
    font-size: 20px;
    color: white;
}

.encabezadoLogo{
    display:flex;
    align-items: center;
    width: 40%;
    padding-top: 0.5rem;
    padding-left: 6.5rem;
    padding-bottom: 1rem;
}

.navegador{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-top: 0.8rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.enlaces a{
    text-decoration: none;
}

.enlaceBlanco{
    color:white;
}

.enlaceGris{
    color:rgb(193, 198, 201);
}

.enlaceVerde{
    color: rgb(41, 167, 68);
}
/*Estilos de la Sección Principal de la página Conf. Bs. As.*/
.contenidoPrincipal{
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: right;
    background:linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url("../assets/imagenes/ba1.jpg");
    background-size: cover;
    background-position-y: 70%;
    background-repeat: no-repeat;
}

h1{
    font-size: 2.7rem;
    font-weight: bold;
}

.textoPrincipal{
    width: 50%;
    height: 80%;
    color: white;
    font-size: 19.6px;
    text-align: right;
    padding-top: 9rem;
    padding-left: 1.2rem;
    padding-right: 7.9rem;
}

.botonQuiero{
    border: 1px solid ;
    border-radius: 3px;
    display:inline-block;
    color:white;
    font-size: 19.8px;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 8.5px;
    padding:7px 16px 3px 16px;
    background-color: none;
}

.botonComprar{
    border: none;
    border-radius: 3px;
    display:inline-block;
    color:white;
    font-size: 19.8px;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 8.5px;
    margin-right: 5px;
    padding:7px 16px 3px 16px;
    background-color: rgb(41, 167, 68);
}

/*Estilos de la sección Oradores de la Página de la Conf Bs As*/
h5{
    font-size: 0.85rem;
    font-weight:lighter;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h4{
    font-size: 1.3rem;
    font-weight: bold;   
}

.tarjetasOradores{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0rem;
}

.tarjetas_flex{
    width: 75%;
    display: flex;
}

.tarjeta{
    width: 50%;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.tarjetaImagen{
    width: 100%;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}

.tarjetaSkills{
    justify-content: right;
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    padding-bottom: 0rem;
    padding-right: 1.2rem;
}

.javaS{
    font-size: 12.5px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(254, 197, 7);
    border-radius: 5px;
    padding: 0px 5px;
}

.react{
    font-size: 12.5px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(23, 162, 185);
    border-radius: 5px;
    padding: 0px 5px;
}

.negocios{
    font-size: 12.5px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(107, 117, 126);
    border-radius: 5px;
    padding: 0px 5px;
}

.startups{
    font-size: 12.5px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(220, 53, 70);
    border-radius: 5px;
    padding: 0px 5px;
}

.tarjetaParrafo{
    font-size: 13px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
/*Estilos de la Pantalla Dividida lugar y fecha de la página Conf Bs As*/
.pantallaDividida{
    display: flex;
    width: 100%;
    height: 70vh;
}

.imagenIzquierda{
    width: 50%;
    height: 100%;
    background-image: url(../assets/imagenes/Foyer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-right: 1.8px solid white;
}

.contenidoDerecha{
    width: 50%;
    height: 100%;
    padding: 1rem;
    background-color: rgb(53, 58, 64);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tituloDividida{
    font-size: 27px;
    font-weight: bold;
}

.parrafoDividida{
    font-size: 15px;
}

.botonContenidoDerecha {
    border: 1px solid ;
    border-radius: 3px;
    display:inline-block;
    color:white;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    padding:3px 10px;
}
/*Estilos del Formulario de la página Conf Bs As*/

.titulosFormulario{
    text-align: center;
}

h5{
    font-size: 12.5px;
    padding-top: 1.3rem;
    margin: 0rem;
}

h2{
    font-size: 34px;
    font-weight: bolder;
}

p .textoFormulario{
    font-size: 16px;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

.camposFormulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

.nombreApellido{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.inputNombre{
    width: 50%;
    color: grey;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 4px;
    padding: 0.4rem;
    margin: 4px 14px 0px 0px;
}

.inputApellido{
    width: 50%;
    color: grey;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 4px;
    padding: 0.4rem;
    margin: 4px 0px 0px 14px;
}

.comentario{
    width: 100%;
    display: flex;
}

.inputComentario{
    width: 100%;
    font-size: 20px;
    color: grey;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 4px;
    padding: 0.8rem;
    margin-bottom: 0px;
}

h6{
    font-size: 13px;
    font-weight: lighter;
    color: grey;
    text-align: left;
}

.inputEnviar{
    width: 100%;
    background-color: rgb(150, 201, 62);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 17px;
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    cursor:pointer;
}

/*Pie de página Web*/
.enlacesPiePagina{
    background-image: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    width: 100%;
    padding: 1.5rem 12rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.enlace{
    width: 60%;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 0rem 2.5rem ;
    text-align: center;
}


/*Media Query*/

    @media screen and (max-width:500px){
    
/*Responsive página La Conferencia*/
    
    .encabezadoFlex{
        flex-direction: column;
    }

    .encabezadoLogo{
        width: 100%;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2.5rem;
    }

    .navegador{
        width: 100%;
        flex-direction: column;
        padding: 0rem 2.5rem;
        background: rgb(58, 65, 71);
    }

    .enlaces a{
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid white;
        text-align: right;  }

    /* Principal Conf. Bs. As.*/

    .contenidoPrincipal{
        background-position-x: 70%;
        background-position-y: 180%;
    }
    
    .textoPrincipal{
        width: 90%;
        height: 90%;
        text-align: left;
        padding-top: 8rem;
        padding-left: 0rem;
        padding-right: 2rem;
        padding-bottom: 12rem;
        
    }

    .botonQuiero{
        margin-left: 0px;
    }
    
    .botonComprar{
        margin-left: 0px;
    }
    
    /*Oradores de Conf Bs As*/

    .tarjetas_flex{
        flex-direction: column;
    }

    .tarjeta{
        width: 100%;
        margin: 0rem 0rem 2rem 0rem;
    }

    /*Lugar y fecha de Conf Bs As*/

    .pantallaDividida{
        flex-direction: column;
    }

    .imagenIzquierda{
        width: 100%;
        border-right: none;
        border-bottom: 1.8px solid white;;
    }

    .contenidoDerecha{
        width: 100%;
        align-items: center;
        text-align: justify;
        padding: 1rem 2rem;
    }

    /*Formulario de Conf Bs As*/

    .camposFormulario{
        width: 85%;
    }

    /*Pie de página de Conf Bs As*/

    .enlacesPiePagina{
        flex-direction: column;
        padding: 0;
    }

    .enlace{
        width: 58%;
        padding: 0rem 2.5rem ;
        border-bottom: 1px dotted white;
    }
}